@import url("https://rsms.me/inter/inter.css");
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  border: none;
  text-transform: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 6rem;
}

section {
  padding: 1.9rem 9%;
}

.heading {
  text-align: center;
  padding: 1rem;
  margin: 2rem;
  color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  font-family: "Inter Variable", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.4rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  border-bottom: 2px solid white;
}
header .logo {
  font-size: 1.5rem;
  color: white;
  font-weight: bolder;
}
header .navbar ul {
  list-style: none;
  display: flex;
}
header .navbar ul li {
  position: relative;
}
header .navbar ul li ul {
  position: absolute;
  left: 0;
  width: 350px;
  border-radius: 8px;
  display: none;
}
header .navbar ul li ul li {
  background-color: rgb(255, 255, 255);
  left: 0px;
  width: 315px;
  height: auto;
  padding: 25px 20px 15px 14px;
}
header .navbar ul li ul li a {
  color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  font-family: "Inter Variable", sans-serif;
  color: rgb(16, 24, 40);
}
header .navbar ul li ul li a .bx {
  display: inline-block;
  padding: 0 20px 10px 0px;
  font-size: 24px;
  color: rgb(29, 111, 163);
}
header .navbar ul li ul li a p {
  color: rgb(255, 255, 255);
  color: rgb(36, 39, 46);
  font-size: 15px;
  font-weight: 400;
  font-family: "Inter Variable", sans-serif;
  color: rgb(16, 24, 40);
  padding-left: 35px;
}
header .navbar a {
  color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  font-family: "Inter Variable", sans-serif;
  padding: 0 1.5rem;
}
header .navbar a:hover {
  cursor: pointer;
  color: rgb(236, 170, 48);
}
header .navbar :hover > ul {
  display: block;
}
header .search-icons i {
  position: relative;
  text-decoration: none;
  color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  font-family: "Inter Variable", sans-serif;
}
header .search-icons .bx-search {
  font-weight: 300;
  background-color: none;
}

.home {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: url(/img/figmal0112345.png) no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  opacity: 1;
}
.home .content {
  max-width: 60rem;
  margin: auto;
  text-align: center;
}
.home .content h4 {
  color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-weight: 600;
  font-family: "Inter Variable", sans-serif;
  padding-bottom: 20px;
}
.home .content p {
  color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 400;
  font-family: "Inter Variable", sans-serif;
  width: 768px;
  height: 60px;
  padding: 1rem 50px;
  padding-bottom: 70px;
  line-height: 30px;
}

.home::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 45, 91, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.base .btn {
  color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  font-family: "Inter Variable", sans-serif;
  cursor: pointer;
  gap: 10px;
  padding: 26px 28px 16px 28px;
  border-radius: 8px;
  margin: 20px;
  border: 1px solid rgb(255, 229, 0);
}

.blur-bg-overlay {
  position: fixed;
  top: 0px;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transition: 0.1s ease;
}

.show-popup .blur-bg-overlay {
  opacity: 1;
  pointer-events: auto;
}

.search-popup {
  position: fixed;
  top: 30%;
  left: 50%;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  background: #fff;
  width: 650px;
  padding: 20px;
  transform: translate(-50%, -100%);
  border-radius: 12px;
}
.search-popup .close-btn {
  position: absolute;
  right: 12px;
  color: black;
  cursor: pointer;
}
.search-popup .search-box {
  display: flex;
}
.search-popup .search-box .input-box {
  width: 650px;
  color: rgb(255, 255, 255);
  color: rgb(102, 112, 133);
  font-size: 20px;
  font-weight: 600;
  font-family: "Inter Variable", sans-serif;
  padding: 0 20px;
  text-align: center;
  flex-direction: column;
}
.search-popup .search-box .input-box i {
  display: flex;
  gap: 10px;
}

.show-popup .search-popup {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -70%);
  transition: transform 0.3 ease, opacity 0.1s;
}

.services-primary {
  padding: 26px;
  text-align: center;
  color: rgb(255, 255, 255);
  color: black;
  font-size: 32;
  font-weight: 600;
  font-family: "Inter Variable", sans-serif;
}

.services-container h2 {
  text-align: center;
  color: rgb(255, 255, 255);
  color: rgb(102, 112, 133);
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter Variable", sans-serif;
}

#services {
  margin: 30px 20px 20px 8%;
  display: flex;
  gap: 22px;
}
#services .box {
  margin-bottom: 20px;
  margin-left: 20px;
}
#services .box img {
  width: 450px;
  height: 400px;
  margin: auto;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: block;
}
#services .box h3 {
  padding-top: 12px;
  margin-left: 25px;
  color: rgb(255, 255, 255);
  color: black;
  font-size: 32;
  font-weight: 700;
  font-family: "Inter Variable", sans-serif;
}
#services .box p {
  padding-top: 10px;
  margin-left: 25px;
  padding-bottom: 10px;
  width: 290px;
  color: rgb(255, 255, 255);
  color: rgb(36, 39, 46);
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter Variable", sans-serif;
}
#services .box .slink {
  margin-left: 25px;
  color: rgb(29, 111, 163);
  font-size: 16px;
  font-weight: 700;
  font-family: "Dm sans", sans-serif;
}
#services .box .slink i {
  margin-top: 12px;
}

.collaboration-container {
  display: flex;
}

.collaboration-primary {
  padding: 20px 10% 20px 10%;
}
.collaboration-primary h2 {
  color: rgb(255, 255, 255);
  color: black;
  font-size: 32;
  font-weight: 600;
  font-family: "Inter Variable", sans-serif;
}
.collaboration-primary .btncon {
  margin-top: 20px;
  color: blue;
}
.collaboration-primary p {
  color: rgb(255, 255, 255);
  color: rgb(102, 112, 133);
  font-size: 20px;
  font-weight: 400;
  font-family: "Inter Variable", sans-serif;
  padding: 20px 0 20px 40px;
}
.collaboration-primary a {
  color: rgb(29, 111, 163);
  font-size: 16px;
  font-weight: 700;
  font-family: "Dm sans", sans-serif;
  margin-left: 10%;
}

.collaboration {
  display: flex;
  right: 20%;
  padding-bottom: 10%;
}
.collaboration h3 {
  color: rgb(255, 255, 255);
  color: rgb(102, 112, 133);
  font-size: 32;
  font-weight: 0;
  font-family: "Inter Variable", sans-serif;
  padding: 0 0 20px 15px;
}
.collaboration img {
  border-radius: 25px;
  width: 328px;
  height: auto;
  padding: 10px 25px 10px 10px;
}
.collaboration .images1 {
  padding-top: 30%;
}
.collaboration .images2 .images3 {
  padding-top: 20px;
}
.collaboration .box:hover {
  transform: scale(1.1);
}

.application {
  display: flex;
  margin-left: 11%;
  padding: 20px 20px 20px 50px;
}

.apply {
  display: flex;
  padding-left: 6%;
}
.apply h2 {
  padding-top: 15px;
  padding-left: 20px;
}
.apply img {
  width: 55.46px;
  height: 55.36px;
}

.news-primary {
  padding: 26px;
  text-align: center;
  color: rgb(255, 255, 255);
  color: black;
  font-size: 32px;
  font-weight: 600;
  font-family: "Inter Variable", sans-serif;
}
.news-primary h2 {
  color: rgb(255, 255, 255);
  color: rgb(102, 112, 133);
  font-size: 20px;
  font-weight: 400;
  font-family: "Inter Variable", sans-serif;
}

.news-container h2 {
  text-align: center;
  align-items: center;
  color: rgb(255, 255, 255);
  color: rgb(102, 112, 133);
  font-size: 20px;
  font-weight: 400;
  font-family: "Inter Variable", sans-serif;
}
.news-container .btnnews {
  margin-top: 30px;
  text-align: center;
}
.news-container .btnnews a {
  border: 1px solid rgb(29, 111, 163);
  padding: 14px;
  border-radius: 4px;
  color: rgb(29, 111, 163);
  font-size: 16px;
  font-weight: 700;
  font-family: "Dm sans", sans-serif;
  color: rgb(36, 39, 46);
}
.news-container .btnnews :hover {
  color: rgb(29, 111, 163);
  border: 1px solid rgb(36, 39, 46);
  cursor: pointer;
}

#news {
  padding-left: 80px;
}
#news .items {
  padding: 20px 10px 30px 20px;
  display: inline-block;
}
#news .items .row {
  display: inline-block;
  background-color: rgb(249, 249, 255);
  padding: 18px;
  border-radius: 20px;
}
#news .items .but {
  color: rgb(29, 111, 163);
}
#news img {
  height: auto;
  width: 395px;
  border-radius: 16px;
}
#news h3 {
  color: rgb(255, 255, 255);
  color: rgb(102, 112, 133);
  font-size: 20px;
  font-weight: 400;
  font-family: "Inter Variable", sans-serif;
  padding-top: 10px;
}
#news p {
  color: rgb(255, 255, 255);
  color: rgb(36, 39, 46);
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter Variable", sans-serif;
  width: 325px;
  padding: 20px 0 5% 0;
}

.resources-primary {
  padding: 26px;
  text-align: center;
  color: rgb(255, 255, 255);
  color: black;
  font-size: 32px;
  font-weight: 600;
  font-family: "Inter Variable", sans-serif;
}

.resources-container {
  background-color: rgb(249, 249, 255);
  display: block;
  padding: 80px 0px 80px 0px;
}
.resources-container h2 {
  color: rgb(255, 255, 255);
  color: rgb(102, 112, 133);
  font-size: 20px;
  font-weight: 400;
  font-family: "Inter Variable", sans-serif;
  padding-bottom: 30px;
  text-align: center;
}
.resources-container .view-all {
  margin-top: 30px;
  text-align: center;
}
.resources-container .view-all a {
  border: 1px solid rgb(29, 111, 163);
  padding: 14px;
  border-radius: 4px;
  color: rgb(29, 111, 163);
  font-size: 16px;
  font-weight: 700;
  font-family: "Dm sans", sans-serif;
  color: rgb(36, 39, 46);
}
.resources-container .view-all :hover {
  color: rgb(29, 111, 163);
  border: 1px solid rgb(36, 39, 46);
  cursor: pointer;
}

.resources {
  display: flex;
  margin-left: 15%;
  padding: 20px 25px 25px 3%;
}
.resources .toolkit {
  padding: 35px 40px 40px 35px;
  margin-left: 22px;
  border-radius: 14px;
  background-color: rgb(255, 255, 255);
}
.resources .toolkit .card .tlk {
  color: rgb(255, 255, 255);
  color: rgb(102, 112, 133);
  font-size: 25px;
  font-weight: 600;
  font-family: "Inter Variable", sans-serif;
}
.resources .toolkit .card .tlk i {
  font-size: 30px;
}
.resources .toolkit .card i {
  color: rgb(255, 255, 255);
  color: rgb(102, 112, 133);
  font-size: 22px;
  font-weight: 400;
  font-family: "Inter Variable", sans-serif;
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 10px;
}
.resources .toolkit .card h3 {
  color: rgb(255, 255, 255);
  color: rgb(36, 39, 46);
  font-size: 20px;
  font-weight: 600;
  font-family: "Inter Variable", sans-serif;
  padding: 10px 10px 15px 3px;
}
.resources .toolkit .card p {
  color: rgb(255, 255, 255);
  color: rgb(36, 39, 46);
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter Variable", sans-serif;
  widows: 294px;
  padding: 5px 8px 40px 5px;
}
.resources .toolkit .card .but, .resources .toolkit .card .bx {
  color: rgb(255, 255, 255);
  color: rgb(36, 39, 46);
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter Variable", sans-serif;
  color: rgb(29, 111, 163);
  padding: 3px 5px 30px 5px;
}

.primary-center {
  padding: 26px;
  text-align: center;
  color: rgb(255, 255, 255);
  color: black;
  font-size: 32px;
  font-weight: 600;
  font-family: "Inter Variable", sans-serif;
}

.contact {
  position: relative;
  padding: 100px;
}
.contact h4 {
  color: rgb(255, 255, 255);
  color: rgb(102, 112, 133);
  font-size: 20px;
  font-weight: 400;
  font-family: "Inter Variable", sans-serif;
  padding-bottom: 30px;
  text-align: center;
}

#contact-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
#contact-box input, #contact-box textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 2px solid black;
  color: rgb(255, 255, 255);
  color: rgb(36, 39, 46);
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter Variable", sans-serif;
}
#contact-box form {
  width: 30%;
}
#contact-box label {
  color: rgb(255, 255, 255);
  color: rgb(36, 39, 46);
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter Variable", sans-serif;
}
#contact-box button {
  border-radius: 4px;
  border: 1px solid rgb(29, 111, 163);
  text-align: center;
}
#contact-box .form-group button {
  text-decoration: none;
  padding: 12px 22px 12px 22px;
  margin-top: 15px;
  margin-left: 43%;
  color: rgb(29, 111, 163);
  font-size: 16px;
  font-weight: 700;
  font-family: "Dm sans", sans-serif;
  color: rgb(36, 39, 46);
}

#names {
  width: 48%;
  color: rgb(255, 255, 255);
  color: rgb(36, 39, 46);
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter Variable", sans-serif;
  display: inline-block;
}

.fname {
  margin-right: 38px;
}

.catloglinks {
  padding-top: 100px;
  min-height: 53vh;
  background: url(/img/news4.png) left center no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  opacity: 1;
}

.catloglinks::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 45, 91, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.catlog-socials h2 {
  color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 600;
  font-family: "Inter Variable", sans-serif;
}
.catlog-socials p {
  color: rgb(255, 255, 255);
  color: rgb(36, 39, 46);
  font-size: 18px;
  font-weight: 600;
  font-family: "Inter Variable", sans-serif;
  font-size: 16px;
  color: rgb(255, 255, 255);
  padding-top: 20px;
}
.catlog-socials .social {
  padding-top: 20px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.catlog-socials .social a {
  height: 37px;
  width: 37px;
  background-color: rgb(255, 255, 255);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  color: rgb(36, 39, 46);
  font-size: 18px;
  font-weight: 600;
  font-family: "Inter Variable", sans-serif;
  border-radius: 50%;
  transition: 2s;
}
.catlog-socials .social a :hover {
  transform: scale(1.2);
  color: rgb(236, 170, 48);
}

.main {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  padding: 83px 0;
}

.catmedic {
  width: 33%;
}

.linksres {
  display: flex;
  flex-wrap: wrap;
  padding-left: 30px;
}
.linksres .col {
  margin-left: 60px;
}
.linksres .col h4 {
  color: rgb(255, 255, 255);
  color: rgb(102, 112, 133);
  font-size: 20px;
  font-weight: 400;
  font-family: "Inter Variable", sans-serif;
  color: rgb(255, 255, 255);
  margin-bottom: 25px;
  position: relative;
}
.linksres .col ul li:not(:last-child) {
  margin-bottom: 15px;
}
.linksres .col ul li {
  list-style: none;
}
.linksres .col ul li a {
  color: rgb(255, 255, 255);
  color: rgb(36, 39, 46);
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter Variable", sans-serif;
  color: rgb(255, 255, 255);
  display: block;
  transition: 2s;
}
.linksres .col ul li a :hover {
  transform: translateX(-12px);
}

.top-page {
  float: right;
}

.top-arrow .topbtn {
  color: rgb(255, 255, 255);
  color: rgb(102, 112, 133);
  font-size: 50px;
  font-weight: 400;
  font-family: "Inter Variable", sans-serif;
  background-color: #fff;
  border-radius: 50%;
  padding: 7px 7px 0px 7px;
  box-shadow: 8px 8px 8px 1px gray;
}

.last-footer {
  padding: 20px;
}
.last-footer .copy-left {
  display: inline-block;
  color: rgb(255, 255, 255);
  color: rgb(36, 39, 46);
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter Variable", sans-serif;
  color: rgb(124, 125, 130);
}
.last-footer .copy-right {
  margin-right: 30px;
  padding: 0px 0 29px 50px;
  float: right;
  color: rgb(29, 111, 163);
  font-size: 16px;
  font-weight: 700;
  font-family: "Dm sans", sans-serif;
  color: rgb(124, 125, 130);
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 2rem;
  }
  section {
    padding: 2rem;
  }
  .home {
    background-position: left;
  }
  .home .content h4 {
    font-size: 30px;
  }
}
@media (max-width: 750) {
  .collaboration-primary, .services-primary, .news-primary, .resources-primary, .primary-center {
    font-size: 28px;
  }
  #services img {
    width: 270px;
    height: 252px;
  }
  #news img {
    height: auto;
    width: 225px;
  }
  .catlog-socials h2 {
    font-size: 24px;
  }
}
@media (max-width: 450) {
  html {
    font-size: 50%;
  }
  .heading {
    font-size: 3rem;
  }
}/*# sourceMappingURL=custom.css.map */